@import "framework/mask-framework";
@import "framework/typography/font-styles";

// -------------------------------------------------
// Editor Styles
// ---------------------------------------------- */

#tinymce {
	font-family: $body-font;
	max-width: $page-width;
	padding: 10px;
}
@import "framework/modules/blog-styles";