body {
	overflow: hidden;
	.container {
		.grid {
			.unit {
				// uncomment to remove grey bg
				// background: transparent;
			}
		}
	}
	@include breakpoint(desktop) {
		padding: 0;
	}
	.header-wrapper {
		margin: 0 auto;
		padding: 0 3%;
		& + .content-wrapper {
			margin-top: 20px;
		}
		@include breakpoint(desktop) {
			width: $page-width;
			padding: 0;
		}
	}
	.content-wrapper {
		margin: 0 auto;
		padding: 0 3%;
		& + .footer-wrapper {
			margin-top: 20px;
		}
		@include breakpoint(desktop) {
			width: $page-width;
			padding: 0;
		}
	}
	.footer-wrapper {
		margin: 0 auto;
		padding: 0 3%;
		@include breakpoint(desktop) {
			width: $page-width;
			padding: 0;
		}
	}
}