footer.container {
	@include breakpoint(desktop) {
		padding: 0;
	}
	.grid {
		.nav-wrapper.unit {
			nav.footer {
				margin-bottom: 0;
				ul.menu {
					@include breakpoint(desktop){
						height: 100%;
						padding: 0 10px;
					}
					li.menu-item {
						padding: 10px 3%;
						border-top: 1px solid;
						&.menu-item-has-children {
							position: relative;
							padding-left: 0;
							padding-right: 0;
							> a:after {
								position: absolute;
								content: url('../img/menu-item-closed.png');
								margin: 3px 0 0 5px;
								@include breakpoint(desktop) {
									display: none;
								}
							}
							> a.selected:after {
								position: absolute;
								content: url('../img/menu-item-opened.png');
								margin: 3px 0 0 5px;
								@include breakpoint(desktop) {
									display: none;
								}
							}
							@include breakpoint(tablet) {
								padding: 10px 3%;
							}
							a {
								margin-left: 3%;
							}
						}
						&:hover > a{
							color: #777;
						}
						ul.sub-menu {
							margin-top: 10px;
							@include breakpoint(desktop) {
								margin-top: 0;
							}
							li.menu-item {
								width: 100%;
							}
						}
						@include breakpoint(desktop) {
							position: relative;
							float: left;
							width: auto;
							padding: 10px 3%;
							line-height: 2em;
							border-top: none;
							ul.sub-menu {
								display: none;
								position: absolute;
								top: 100%;
								width: 200px;
								z-index: 99999;
								.cloned {
									display: none;
								}
							}
							&:hover .sub-menu {
								display: block;
								.menu-item {
									float: none;
								}
							}
						}
					}
					& > li.menu-item:first-child {
						border-top: none;
					}
				}
			}
		}
		.copy.unit {
			margin-top: 0;
		}
	}
}
