.image-gallery {
	  font-size: 0px;
	  line-height: 0;
	.image-gallery-anchor {
			display: block;
		@include breakpoint(desktop) {
			display: inline-block;
		}
		.image {
			padding-bottom: 2%;
			@include breakpoint(desktop) {
				width: 98%;
				display: inline-block;
			}
		}
	}
}