.archive-filter.start-date {
	.filter {
		margin: 0;
		padding: 0;
		list-style-type: none;
		border-bottom: 1px solid #ccc;
		@include clearfix;
		li {
			float: left;
			width: 7.6%;
			margin: 0 0 0 0;
			text-align: center;
			a {
				display: block;
				text-decoration: none;
				color: #000;
				// background: #eee;
				@include font-size-rem(.7);
				&:hover {
					background: #eee;
				}
			}
		}
	}
}