.image-gallery {
	@include clearfix;
	.image-gallery-anchor {
		float: left;
		opacity: .8;
		@include transition(.5s);
		&:hover {
			opacity: 1;
		}
		.inscription {
			display: none;
		}
		.image {
			padding-bottom: 2%;
			width: 98%;
		}
	}
}