.accordion-links {
	margin: 20px 0;
	list-style-type: none;
	border-top: 1px solid #000;
	li {
		cursor: pointer ;
		padding: 15px 0;
		border-bottom: 1px solid #000;
		.accordion-heading {
				margin: 0;
				padding: 0;
				background: url('../img/accordion/accordion-open.png') no-repeat 95%;
			&.selected {
				background: url('../img/accordion/accordion-close.png') no-repeat 95%;
			}
		}
		div {
			cursor: pointer ;
			@include breakpoint(desktop) {

			}
		}
	}
}