/* SCSS Framework boilerplate from MASK: https://github.com/micalexander/mask */
// -------------------------------------------------
// MASK Compass Imports
// ---------------------------------------------- */
@import "framework/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/typography/lists/inline-block-list";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";


// -------------------------------------------------
// MASK Variables
// ---------------------------------------------- */
$heading-font: 'Open Sans', sans-serif;;
$body-font: 'Open Sans', sans-serif;;

$body-color: #555;
$heading-color: #333;
$link-color: #000;
$link-hover: #555;

$page-width: 1000px;

$ani-speed: 250ms;


// -------------------------------------------------
// Media Query Break Points
// ---------------------------------------------- */
$mq-mobile: 420px;
$mq-mob-tab: 520px;
$mq-tablet: 620px;
$mq-tab-desk: 820px;
$mq-desktop: 60em;


// -------------------------------------------------
// Basic Styles
// ---------------------------------------------- */

body,select,input,textarea{color:#333;}


/*-----------------------------------*\
	map
\*-----------------------------------*/
#map-1, #map-2 {
	height: 300px;
}
/*-----------------------------------*\
	$GRID
\*-----------------------------------*/

.container {
	/* Whatever you want. They’re your oats. */
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 30px;
	padding: 0 1.5rem;
}

.grid {
	margin-left: -2.5%;
	max-width: 105%;
}

.unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 2.5%;
	margin-right: -.25em;
	/* Clearfix */
	overflow: hidden;
	*overflow: visible;
}

.one-of-one { width: 97.5%; }
.one-of-two { width: 47.5%; }

.one-of-three { width: 30.8333333%; }
.two-of-three { width: 64.1666666%; }

.one-of-four { width: 22.5%; }
.three-of-four { width: 72.5%; }

.one-of-five { width: 17.44%; }
.two-of-five { width: 37.44%; }
.three-of-five { width: 57.44%; }
.four-of-five { width: 77.44%; }

@media screen and (max-width: $mq-desktop) {
	.grid {
		margin-left: 0;
		max-width: none;
	}

	.unit {
		width: auto;
		margin-left: 0;
		display: block;
	}
}
.container {
	max-width: 100%;
	padding: 0;
	.grid {
		.unit {
			margin-bottom: 30px;
			// background: #ccc;
		}
	}
}
// -------------------------------------------------
// MASK Mixins
// ---------------------------------------------- */


// media query
@mixin breakpoint($point) {
	@if $point == mobile {
		@media (min-width: $mq-mobile)  { @content; }
	}
	@else if $point == mob-tab {
		@media (min-width: $mq-mob-tab) { @content; }
	}
	@else if $point == tablet {
		@media (min-width: $mq-tablet) { @content; }
	}
	@else if $point == tab-desk {
		@media (min-width: $mq-tab-desk) { @content; }
	}
	@else if $point == desktop {
		@media (min-width: $mq-desktop) { @content; }
	}
}
// custom text selection treatment, developed from http://stackoverflow.com/a/10372599/136018
@mixin selection($color, $background) {
	$prefixes: ("-webkit-","-moz-", "-o-", "");
    @each $prefix in $prefixes {
        ::#{$prefix}selection {
            color: $color;
            background: $background;
            text-shadow:none; // remove any text shadows:twitter.com/miketaylr/status/12228805301)
        }
    }
    /* j.mp/webkit-tap-highlight-color */
	a:link{-webkit-tap-highlight-color:$background;}
	ins{background-color:$background;color:$color;text-decoration:none;}
}

// Remove UL Styling
@mixin ul-reset {
	list-style: none;
	margin: 0;
	padding-bottom: 0;
}

// Rem Font Sizing
@mixin font-size-rem($size: 1.6){
  font-size: ($size * 10 + 5) + px;
  font-size: $size + rem;
}

@mixin line-height-rem($size: 1.6){
  line-height: ($size * 10 + 5) + px;
  line-height: $size + rem;
}

@mixin areas-text-style-nav {
	font-size: .875em;
	text-transform: uppercase;
	letter-spacing: .15em;
}

@mixin hyphenate {
	-ms-word-break: break-all;
	word-break: break-all;
	// Non standard for webkit
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

@mixin column-50-pct {
	width: 50%;
	float: left;

	p {
		padding: 0 2em 1em;
	}
}

@mixin column-33-pct {
	width: (($page_width - 40 - 20*2) / 3);
	float: left;
	margin-left: 20px;

	&.first { margin-left: 0; }

	p {
		padding: 0 0 1em;
	}
}

@mixin column-66-pct {
	width: (($page_width - 40 - 10) / 3 * 2);
	float: left;
	margin-left: 20px;

	&.first { margin-left: 0; }

	p {
		padding: 0 2em 1em;
	}
}

@mixin trans-fade-hidden {
	@include transition(opacity $ani_speed linear 0ms, visibility $ani_speed linear 0ms);
	visibility: hidden;
	opacity: 0;
}

@mixin trans-fade-visible {
	visibility: visible;
	opacity: 1;
}
