div.nav-wrapper.unit {
	overflow: visible;
	min-height: 40px;
	margin-bottom: 15px;
	background: #ccc;
	@include breakpoint(desktop) {
		margin-bottom: 20px;
	}
	nav.nav-collapse {
		border-bottom: 1px solid;
		@include breakpoint(desktop) {
			overflow: visible;
			border-bottom: none;
		}
		ul.menu {
			@include breakpoint(desktop){
				height: 100%;
				padding: 0 10px;
			}
			li.menu-item {
				padding: 10px 3%;
				border-top: 1px solid;
				&.menu-item-has-children {
					padding-left: 0;
					padding-right: 0;
					a {
						margin-left: 3%;
					}
				}
				ul.sub-menu {
					margin-top: 10px;
				}
				@include breakpoint(desktop) {
					position: relative;
					float: left;
					width: auto;
					padding: 10px 3%;
					line-height: 2em;
					border-top: none;
					&:hover a {
						color: #777;
					}
					ul.sub-menu {
						display: none;
						position: absolute;
						top: 20px;
						width: 200px;
						height: 200px;
						z-index: 99999;
						.cloned {
							display: none;
						}
					}
					&:hover .sub-menu {
						display: block;
						.menu-item {
							float: none;
						}
					}
				}
			}
			& > li.menu-item:first-child {
				border-top: none;
			}
		}
	}
	#toggle {
		position: relative;
		height: 44px;
		padding-top: 10px;
		cursor: pointer;
		text-align: right;
		.icon-menu {
			display: inline-block;
			@include sprite-dimensions($icon-sprites, menu);
		}
	}
	@include breakpoint(desktop) {
		#toggle {
			display: none;
		}
	}
}